<template>
  <div class="container">
    <PageHeader title="Dashboard" />
    <main>
      Profit before tax Outstanding invoices -> 0 Factures clients non réglées
      Chiffre d'affaires Bank -> Ma trésorerie Reconcile 2 statements ->
      Opérations non qualifiées Expenses -> Décaissements Income ->
      Encaissements
    </main>
  </div>
</template>

<script>
import PageHeader from "@/components/page-header/PageHeader.vue";
import Card from "@/components/Card.vue";

export default {
  name: "Dashboard",
  components: {
    PageHeader,
    Card
  }
};
</script>
