<template>
  <div class="card">
    <div class="card-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    title: String
  }
};
</script>

<style lang="scss">
.card {
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border-radius: 2px;
  .card-body {
    padding: 24px;
  }
}
</style>
