<template>
  <footer>
    &copy; 2019 Summa
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss">
footer {
  margin: 48px 0 24px;
  padding: 0 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
</style>
