<template>
  <div class="header">
    <button class="menu-fold">
      <i class="fas fa-outdent"></i>
      <!-- i class="fas fa-indent"></i -->
    </button>

    <div class="pull-right">
      <button><i class="fas fa-question-circle"></i></button>
      <button><i class="fas fa-bell"></i></button>
      <span>Abdelhakim Bachar</span>
      <button><i class="fas fa-power-off"></i></button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Header"
  };
</script>

<style lang="scss">
  .header {
    button,
    span {
      height: 64px;
      padding: 0 24px;
      transition: all 0.3s, padding 0s;
      background: transparent;
      border: 0;
      font-size: 20px;

      .fas {
        font-size: 20px;
      }
    }

    button {
      cursor: pointer;
    }
  }

  .menu-fold {
  }

  .pull-right {
    position: absolute;
    right: 16px;
    top: 0;

    button,
    span {
      padding: 0 16px;
      margin: 0;
    }
  }
</style>
