<template>
  <div class="sider">
    <div class="brand">
      <router-link to="/">Summa</router-link>
    </div>

    <ul class="menu">
      <li>
        <router-link :to="{ name: 'dashboard' }">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </router-link>
      </li>
      <li>
        <router-link :to="{ name: 'clients' }">
          <i class="fas fa-briefcase"></i> Clients
        </router-link>
      </li>
      <li>
        <router-link :to="{ name: 'products' }">
          <i class="fas fa-boxes"></i> Products
        </router-link>
      </li>
      <li>
        <router-link to="/projects"
          ><i class="fas fa-cogs"></i> Projects
        </router-link>
      </li>
      <li>
        <router-link to="/invoices"
          ><i class="fas fa-file-invoice-dollar"></i> Invoices
        </router-link>
      </li>
      <li>
        <router-link to="/expenses"
          ><i class="fas fa-receipt"></i> Expenses
        </router-link>
      </li>
      <li>
        <router-link to="/"
          ><i class="fas fa-balance-scale"></i> Bank Reconciliation
        </router-link>
      </li>
      <li>
        <router-link to="/"><i class="fas fa-chart-pie"></i> Taxes</router-link>
      </li>
      <li>
        <router-link to="/"
          ><i class="fas fa-sliders-h"></i> Settings
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Sider"
};
</script>

<style lang="scss">
.brand {
  height: 64px;
  background: #002140;
  a {
    margin: 0 0 0 24px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    line-height: 64px;
    text-decoration: none;
    text-align: center;
  }
}

ul.menu {
  padding: 16px 0;
  width: 100%;
  list-style: none;

  li {
    padding-left: 24px;
    a {
      height: 40px;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.65);
      display: block;
      text-decoration: none;

      .fas {
        color: rgba(255, 255, 255, 0.65);
        min-width: 14px;
        margin-right: 10px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}
</style>
