<template>
  <div class="container">
    <PageHeader title="Create Product" />
    <main>
      <Card>
        <div class="form-group">
          <label for="product-name">Name</label>
          <div class="form-control">
            <input
              type="text"
              id="product-name"
              placeholder="Give the product a name"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="product-description">Description</label>
          <div class="form-control">
            <textarea
              placeholder="Give the product a description"
              id="product-description"
              rows="4"
            >
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="product-amount">Amount</label>
          <div class="form-control">
            <input
              type="text"
              id="product-amount"
              placeholder="Give the product an amount"
            />
            <div class="form-hints">
              <span>Number with 3 digits precision</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="product-unit">Unit</label>
          <div class="form-control">
            <select id="product-unit">
              <option>Flat fee</option>
              <option>Per hour</option>
              <option>Per day</option>
              <option>Per week</option>
              <option>Per month</option>
              <option>Per year</option>
              <option>Per unit</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="product-vat-rate">VAT Rate</label>
          <div class="form-control">
            <input
              type="text"
              id="product-vat-rate"
              placeholder="Give the product a VAT rate"
            />
            <div class="form-hints">
              <span>Number with 2 digits precision between 0 to 100</span>
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <button class="btn-primary">Create</button>
          <button>Cancel</button>
        </div>
      </Card>
    </main>
  </div>
</template>

<script>
import PageHeader from "@/components/page-header/PageHeader.vue";
import Card from "@/components/Card.vue";

export default {
  name: "CreateProduct",
  components: {
    PageHeader,
    Card
  },
  mounted() {
    /*
      this.$store.commit('/page-header/update', {
        title: 'Create Page',
        breadcrumb: [
          {'Dashboard': '/'},
          {'Products': 'products'},
          {'Create': null},
        ]
      });*/
  }
};
</script>

<style lang="scss">
.form-group {
  display: flex;
  flex-direction: row;
  margin: 0 0 24px;
  vertical-align: top;

  label {
    flex: 0 0 auto;
    width: 29%;
    text-align: right;
    line-height: 34px;

    &:after {
      content: ":";
      position: relative;
      top: -0.5px;
      margin: 0 8px 0 2px;
    }
  }

  .form-control {
    flex: 0 0 auto;
    width: 41%;

    input,
    textarea,
    select {
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 0;
      display: inline-block;
      width: 100%;
      padding: 4px 11px;
      font-size: 14px;
      line-height: 1.5;
      transition: all 0.3s;

      &::placeholder {
        color: #bfbfbf;
      }

      &:focus {
        border-color: #597ef7;
        border-right-width: 1px !important;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        outline: 0;
      }
    }

    input,
    select {
      height: 32px;

      // Number 95px
    }

    .form-hints {
      span {
        color: rgba(0, 0, 0, 0.45);
        display: block;
        min-height: 22px;
        line-height: 1.5;
      }
    }
  }
}

.form-buttons {
  margin: 32px 0 32px 29%;
}

button,
.btn {
  background: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  padding: 8px 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);

  &.btn-primary {
    color: #fff;
    background-color: #2f54eb;
    border-color: #2f54eb;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  & + & {
    margin-left: 16px;
  }
}
</style>
