<template>
  <div class="container">
    <PageHeader title="Products">
      <router-link class="btn btn-primary" to="/products/create"
        >Create</router-link
      >
    </PageHeader>
    <main>
      <Card>
        <table>
          <thead>
            <tr>
              <th class="selection-column">
                <input type="checkbox" />
              </th>
              <th>Name</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Unit</th>
              <th>VAT Rate</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td>TechLead Full-Stack</td>
              <td>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean imperdiet quam quis suscipit iaculis
                </div>
              </td>
              <td>835,00 &euro;</td>
              <td>Per day</td>
              <td>20 %</td>
              <td>
                <button><i class="far fa-edit"></i></button>
                <button><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>TechLead Full-Stack</td>
              <td>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean imperdiet quam quis suscipit iaculis
                </div>
              </td>
              <td>835,00 &euro;</td>
              <td>Per day</td>
              <td>20 %</td>
              <td>
                <button><i class="far fa-edit"></i></button>
                <button><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>TechLead Full-Stack</td>
              <td>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean imperdiet quam quis suscipit iaculis
                </div>
              </td>
              <td>835,00 &euro;</td>
              <td>Per day</td>
              <td>20 %</td>
              <td>
                <button><i class="far fa-edit"></i></button>
                <button><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </Card>
    </main>
  </div>
</template>

<script>
import PageHeader from "@/components/page-header/PageHeader";
import Card from "@/components/Card";

export default {
  name: "ListProducts",
  components: {
    Card,
    PageHeader
  }
};
</script>

<style lang="scss">
table {
  width: 100%;
  text-align: left;
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;

  th,
  td {
    margin: 0;
    padding: 16px;
    text-align: left;
    white-space: nowrap;
  }

  th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    transition: background 0.3s ease;
  }

  td div {
    white-space: normal;
    height: 19px;
    overflow: hidden;
    line-height: 19px;
  }

  tr:hover td {
    background: #e6f7ff;
  }

  td {
    border-bottom: 1px solid #e8e8e8;
    transition: all 0.3s, border 0s;

    button {
      border: 0;
      background: transparent;
      display: inline-block;
      cursor: pointer;
      margin: 0;
      line-height: 14px;
      padding: 0;

      i {
        color: #1890ff;
      }

      & + button {
        margin-left: 12px;
      }
    }
  }
}
</style>
