<template>
  <div class="page-header">
    <ol class="breadcrumb">
      <li v-for="it in breadcrumb" :key="it.name">
        <router-link v-if="it.path" :to="{ name: it.path }">{{
          it.name
        }}</router-link>
        <span v-if="!it.path">{{ it.name }}</span>
      </li>
    </ol>

    <div class="header-title">
      <h2>{{ title }}</h2>
      <div class="actions">
        <slot />
      </div>
    </div>

    <!-- <div v-if="description" class="header-description">{{ description }}</div> -->
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "PageHeader",
  props: {
    title: String
  },
  computed: {
    ...mapState("page-header", ["breadcrumb"])
  }
};
</script>

<style lang="scss">
.page-header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px 24px;

  ol.breadcrumb {
    display: flex;
    list-style: none;
    margin-bottom: 12px;

    a {
      color: rgba(0, 0, 0, 0.45);
      text-decoration: none;
    }

    span {
      color: rgba(0, 0, 0, 0.65);
    }

    li + li {
      padding-left: 8px;

      &::before {
        display: inline-block;
        padding-right: 8px;
        color: rgba(0, 0, 0, 0.45);
        content: "/";
      }
    }
  }

  .header-title {
    display: flex;

    h2 {
      font-size: 20px;
      font-weight: 600;
      flex-grow: 1;
      line-height: 30px;
    }

    .actions {
    }
  }

  .header-description {
    padding-top: 12px;
  }
}
</style>
