<template>
  <div class="root-layout">
    <Sider />
    <div class="page-layout">
      <Header />
      <router-view />
      <Footer />
    </div>
  </div>
</template>

<script>
import Sider from "@/components/Sider.vue";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer";
import PageHeader from "@/components/page-header/PageHeader.vue";

export default {
  name: "create-product",
  components: {
    Footer,
    Sider,
    Header,
    PageHeader
  }
};
</script>

<style lang="scss">
@import "node_modules/reset-css/sass/reset";

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.root-layout,
body,
html {
  height: 100vh;
}

body {
  background: #f0f2f5;
}

.root-layout {
}

.sider {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  background: #001529;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 100;
}

.page-layout {
  margin-left: 256px;
}

.header {
  height: 64px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: fixed;
  right: 0;
  left: 256px;
  z-index: 10;
}

.container {
  padding-top: 64px;

  main {
    padding: 24px;
  }
}
</style>
